extends layout

block content

    h1  Login Form   
    .login-form
      .close  
      .head-info
        label.lbl-1(onclick="window.location.href='/comment/reg'")
        label.lbl-2  
        label.lbl-3  
      .clear  
      .avtar
        img(src='/comments/images/avtar.png')
      form(action='/comment' method='post')
        .text
          input(type='text', name='username', placeholder='Username', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Username';}")
        .key
          input(type='password', name='password', placeholder='Password', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Password';}")
        .signin
          input(type='submit', value='Login')
    

    script.
      $(function(){
      var st = "#{success}";
      if(st == 'ok'){
      alert('注册成功！');
      }else if(st == 'error'){
      alert('用户名或密码错误!');
      }else{
        
      }
      });